 img{
    height: 150px;
    width: 150px;
}

body{
   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHcjC7VsBEC4JmiELhtZRZhUiMnbllx44dux4dtQ4dC7aosxHUFA);
    color: aqua;
    
}


.jumbotron{

    background-color:black ;
    color: dodgerblue;
  
}


@media screen and (max-width: 480px) {
    img{
        height: 100px;
        width: 100px;
        margin-top: 10pxpx;
        margin-left: 100px;


    }

    #fight{

        margin-left: 100px;


    }

    h1{

        font-size: 30px;
    }

    .jumbotron{
        margin-left: 10px;

      
      
    }
    


}